<div class="top-wrapper">
  <h3><%= blogs_title %></h3>
  <div class="btn-wrapper">
    <%= link_to "一覧", blogs_path, class: "btn btn-warning"%>
    <%= link_to "新規投稿", new_blog_path, class: "btn btn-primary btn-new" %>
  </div>
</div>